aiohttp
aiosignal
async-generator
async-timeout
asynctest
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
frozenlist
gunicorn
h11
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
multidict
nump
numpy
openai
opencv-python
outcome
playsound
psycopg2
pycparser
pyOpenSSL
PySocks
pyTelegramBotAPI
requests
selenium
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
typing-extensions
urllib3
Werkzeug
wsproto
yarl
zipp
